In [ ]:
print('hello word')

# العمليات الحسابية

In [11]:
print('1+1=',1+1)
print('2-5=',2-5)
print('10*3=',10*3)
print('5/2=',5/2)
print('5//2=',5//2)
print('4/2=',4/2)
print('4//2=',4//2)
print('4**2=',4**2)
print('9%2=',9%2)

1+1= 2
2-5= -3
10*3= 30
5/2= 2.5
5//2= 2
4/2= 2.0
4//2= 2
4**2= 16
9%2= 1

In [2]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# أولوية العمليات الحسابية

In [10]:
print(5+5*2+5+2**3+2*(5-2))

34

In [8]:
a=-9
b=float(a)
b

-9.0

# العمليات المنطقية

In [2]:
print(1==2)
print(2>1)
print(1!=1)
.
.
.

False
True
False

# numbers

In [54]:
a=-5
b=3.562
c=2+4j
print('abs(a)=',abs(a))
print('int(b)=',int(b))
print('float(a)=',float(a))
print('round(b)=',round(b))
print('round(b,0)=',round(b,0))
print('round(b,1)=',round(b,1))
print('round(b,2)=',round(b,2))
print('round(b,3)=',round(b,3))
print('round(b,4)=',round(b,4))

abs(a)= 5
int(b)= 3
float(a)= -5.0
round(b)= 4
round(b,0)= 4.0
round(b,1)= 3.6
round(b,2)= 3.56
round(b,3)= 3.562
round(b,4)= 3.562

# String

In [17]:
s='i am immutable and you cannot change me'
print(s[-1])
#s[0]='ali'

In [19]:
#n="hello\ my name is mohammad"
m="""hello,
my name is mohammad"""
a="hello,\n my name is ali"
print(n)
print(m)
print(a)

hellomy name is mohammad
hello,
my name is mohammad
hello,
 my name is ali

In [24]:
s='i am immutable and you cannot change me'
print(len(s))
print(s.upper())
print("PYthoN".lower())
print(s.count('m'))
print('hEllo'.capitalize())
print('hEllo woRD'.title())
print(" ab ".rstrip())
print(" ab ".lstrip())
print(" ab ".strip())

39
I AM IMMUTABLE AND YOU CANNOT CHANGE ME
python
4
Hello
Hello Word
 ab
ab
ab

In [60]:
s='i am immutable and you cannot change me'
print('s[0]=',s[0])
print('s[-1]=',s[-1])
print('s[-2]=',s[-2])
print('s[5]=',s[5])

s[0]= i
s[-1]= e
s[-2]= m
s[5]= i

In [69]:
s='python'
" ab ".strip()

'ab'

# List

In [71]:
l=['sara','karam',5,6.3,[1,3,'ali']]
print('l[0]=',l[0])
print('l[3]=',l[3])
print('l[4]=',l[4])
print('l[-1]=',l[-1])

l[0]= sara
l[3]= 6.3
l[4]= [1, 3, 'ali']
l[-1]= [1, 3, 'ali']

In [29]:
t=["ali",1997,"mohammad"]
nums=[4,2,11,6]
words=["spam","ni"]
print(len(t))
print(max(nums))
print(min(nums))
print(sum(nums))
print(nums.count(11))
print(nums.index(11))
words.reverse()
print(words)
nums.append(11)
print(nums)
nums.extend([3,5])
print(nums)
del t[-1]
print(t)
nums.remove(2)
print(nums)
words.insert(1,"wink")
print(['a',1]+[2,'b'])
print([0]*3)

3
11
2
23
1
2
['ni', 'spam']
[4, 2, 11, 6, 11]
[4, 2, 11, 6, 11, 3, 5]
['ali', 1997]
[4, 11, 6, 11, 3, 5]
['a', 1, 2, 'b']
[0, 0, 0]

In [37]:
s1='a,b,c'
s2='hello word'
l1=s1.split(',')
l2=s2.split(' ')
print(l1)
print(l2)
l3=s1.split()
l4=s2.split('o')
print(l3)
print(l4)

['a', 'b', 'c']
['hello', 'word']
['a,b,c']
['hell', ' w', 'rd']

In [38]:
l=['a','b','c']
s=' '.join(l)
s2='*'.join(l)
s3='123'.join(l)
print(s)
print(s2)
print(s3)

a b c
a*b*c
a123b123c

In [41]:
list1=['a','b','c','d','e','f']
print('list1[1:3]=',list1[1:3])
print('list1[-4:-2]=',list1[-4:-2])
print('list1[:4]=',list1[:4])
print('list1[4:]=',list1[4:])
del list1[1:3]
print('new list is ',list1)
print('list1[2:len(list1)]=',list1[2:len(list1)])
print('list1[1:3][1]=',list1[1:3][1])
print('list1[3:2]=',list1[3:2])

list1[1:3]= ['b', 'c']
list1[-4:-2]= ['c', 'd']
list1[:4]= ['a', 'b', 'c', 'd']
list1[4:]= ['e', 'f']
new list is  ['a', 'd', 'e', 'f']
list1[2:len(list1)]= ['e', 'f']
list1[1:3][1]= e
list1[3:2]= []

In [43]:
l1=['a','b','c']
l2=l1
print('عنوان المتغير l1 في الذاكرة',id(l1))
print('عنوان المتغير l2 في الذاكرة',id(l2))

l2[0]='x'
print(l1)

عنوان المتغير l1 في الذاكرة 1322454051072
عنوان المتغير l2 في الذاكرة 1322454051072
['x', 'b', 'c']

In [44]:
l1=['a','b','c']
l2=list(l1)
print('عنوان المتغير l1 في الذاكرة',id(l1))
print('عنوان المتغير l2 في الذاكرة',id(l2))

l2[0]='x'
print(l1)

عنوان المتغير l1 في الذاكرة 1322454115520
عنوان المتغير l2 في الذاكرة 1322454099200
['a', 'b', 'c']

In [45]:
l1=['a','b','c']
l2=l1[:]
print('عنوان المتغير l1 في الذاكرة',id(l1))
print('عنوان المتغير l2 في الذاكرة',id(l2))

l2[0]='x'
print(l1)

عنوان المتغير l1 في الذاكرة 1322454102400
عنوان المتغير l2 في الذاكرة 1322454093952
['a', 'b', 'c']

In [50]:
i=[3,[5,2,['first','second']],9,10]
print('i[1]=',i[1])
print('i[1][2]=',i[1][2])
print('i[1][2][0]=',i[1][2][0])
print('i[1][2][0][0]=',i[1][2][0][0])
print('i[-1]=',i[-1])

i[1]= [5, 2, ['first', 'second']]
i[1][2]= ['first', 'second']
i[1][2][0]= first
i[1][2][0][0]= f
i[-1]= 10

In [65]:
d={'first':'ali','second':'sara',0:[2,'a']}
'ali' in d.keys()

False

In [3]:
'ali mohammad'.rfind('m')

AttributeError: 'str' object has no attribute 'lfind'

In [8]:
t=(1,2,3,'first','second')
s='this is a string'
l=[1,2,3,4,5,'a']
print('tuple slicing example is t[2:4]=',t[2:4])
print('string slicing example is s[1:4]=',s[1:4])
print('list slicing example is l[2:4]=',l[2:4])

tuple slicing example is t[2:4]= (3, 'first')
string slicing example is s[1:4]= his
list slicing example is l[2:4]= [3, 4]

TypeError: 'set' object is not subscriptable

In [10]:
L=[5,6]
n=2
s="python"
t=('a','b','c')
print("المواقع القديمة في الذاكرة", 'L= ',id(L),'n= ',id(n),'s= ',id(s),'t=',id(t))
L.append(7)
n+=1
s=s.upper()
t=t[1:]
print("المواقع الجديدة في الذاكرة", 'L= ',id(L),'n= ',id(n),'s= ',id(s),'t=',id(t))

المواقع القديمة في الذاكرة L=  2830443036480 n=  2832479944976 s=  2832528021488 t= 2830442675008
المواقع الجديدة في الذاكرة L=  2830443036480 n=  2832479945008 s=  2830442945200 t= 2830442819840

In [11]:
s=input('enter youe name: ')
print(s)
print(type(s))

enter youe name: ali
ali
<class 'str'>

In [12]:
a=input('enter number: ')
print(a)
print(type(a))
n=int(a)
print(n)
print(type(n))

enter number: 2
2
<class 'str'>
2
<class 'int'>

In [13]:
a=input('enter first number: ')
b=input('enter second number: ')
c=a+b
print(c)

enter first number: 3
enter second number: 2
32

In [14]:
a=int(input('enter first number: '))
b=int(input('enter second number: '))
c=a+b
print(c)

enter first number: 3
enter second number: 2
5

In [24]:
a=21
s='a#@'
print('hello','hi',22,'hello word',a,'name',s)
print('السطر الثاني')
print()
print('السطر الرابع')

hello hi 22 hello word 21 name a#@
السطر الثاني

السطر الرابع

In [25]:
print('ali',end='-')
print('ali',end='*')
print('ali')
print('mohammad')
print('mohammad')
print('mohammad')

ali-ali*ali
mohammad
mohammad
mohammad

In [27]:
print('ali',end='-')
print('ali',end='*')
print('ali')
print('mohammad')
print('mohammad')
print('mohammad')

ali
ali
ali
mohammad
mohammad
mohammad

In [29]:
print('hello', 'word', 'python')
print('hello', 'word', 'python',sep='')
print('hello', 'word', 'python',sep='*')
print('hello', 'word', 'python',sep='\t')
print('hello', 'word', 'python',sep='----')

hello word python
hellowordpython
hello*word*python
hello	word	python
hello----word----python

In [32]:
x=int(input('enter number: '))
if x>5:
    print(x,'larger than ',5 )
if x<5:
    print(x,'lower than ',5 )

enter number: 3
3 lower than  5

In [33]:
x=4
if x<10:
    if x<7:
        print(x,' is between 0 and 7 ' )
    if x<5:
        print(x,' is between 0 and 5 ' )

4  is between 0 and 7
4  is between 0 and 5

In [ ]:
if  شرط :
    تعليمات
    ...
else:
    ...
    تعليمات

In [34]:
x=10
if x>5:
    print(x,'larger than 5')
else:
    print(x,'lower than 5')
y=2
if y>5:
    print(y,'larger than 5')
else:
    print(y,'lower than 5')

10 larger than 5
2 lower than 5

In [35]:
x=10
if x>15:
    print(1)
elif x>12:
    print(2)
elif x>10:
    print(3)
else:
    print(4)

4

In [36]:
x=14
if x>15:
    print(1)
elif x>12:
    print(2)
elif x>10:
    print(3)
else:
    print(4)

2

In [41]:
x=5
s='python'
print('isinstance(x,int)',isinstance(x,int))
print('isinstance(x,float)',isinstance(x,float))
print()
print('s.isdigit()',s.isdigit())
print('s.isalpha()',s.isalpha())
print()
print('s.isalnum()',s.isalnum())
print('s.islower()',s.islower())
print('s.isupper()',s.isupper())
print()
print('s.isupper()',s.isupper())
print('s.startswith(p)',s.startswith('p'))
print('s.endswith(p)',s.endswith('p'))

isinstance(x,int) True
isinstance(x,float) False

s.isdigit() False
s.isalpha() True

s.isalnum() True
s.islower() True
s.isupper() False

s.isupper() False
s.startswith(p) True
s.endswith(p) False

In [42]:
x=50
if isinstance(x,int):
    if x>=60:
        print('passed')
    else:
        print('field')
else:
    print('enter integer number')

field

In [44]:
n=1
for n < 6:
    print(n, end=" ")
    n+=1

SyntaxError: invalid syntax (3298142997.py, line 2)

In [51]:
for i in range(5):
    print(i)

0
1
2
3
4

In [52]:
for i in range(5):
    print(i,end=" ")

0 1 2 3 4

In [54]:
for i in range(2,5):
    print(i,end=" ")

2 3 4

In [61]:
for i in range(7):
    print(i,end=" ")
    if i==5:
        break

0 1 2 3 4 5

In [62]:
for i in range(7):
    print(i,end=" ")
    if i==6:
        continue

0 1 2 3 4 5 6

In [64]:
2<3 xor 3>4

SyntaxError: invalid syntax (3977642919.py, line 1)

In [65]:
print(5>3)

True

In [66]:
print(5==3)

False

In [73]:
for m in range(1,6):
    for n in range(1,6):
        print(m,'X',n,'=', m*n, end="\t")
    print()

1 X 1 = 1	1 X 2 = 2	1 X 3 = 3	1 X 4 = 4	1 X 5 = 5
2 X 1 = 2	2 X 2 = 4	2 X 3 = 6	2 X 4 = 8	2 X 5 = 10
3 X 1 = 3	3 X 2 = 6	3 X 3 = 9	3 X 4 = 12	3 X 5 = 15
4 X 1 = 4	4 X 2 = 8	4 X 3 = 12	4 X 4 = 16	4 X 5 = 20
5 X 1 = 5	5 X 2 = 10	5 X 3 = 15	5 X 4 = 20	5 X 5 = 25

In [76]:
m=[]
months=["January","February","March","April","May"
        ,"June","July","August","september","October","November","December"]
for i in range(len(months)):
    m.append(months[i][0:3])
print(m)

['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'sep', 'Oct', 'Nov', 'Dec']

In [113]:
s="*"*20
print("\t\t",s)
for i in range(1,len(s)):
    print("\t\t"," "*i+s[i:-i])

		 ********************
		  ******************
		   ****************
		    **************
		     ************
		      **********
		       ********
		        ******
		         ****
		          **

In [154]:
s="*"*20
l=[" "*i+s[i:-i] for i in range(len(s))]
for i in l:
    print(i)

 ******************
  ****************
   **************
    ************
     **********
      ********
       ******
        ****
         **

In [139]:
l1=[x for x in range(31)]
print(l1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [140]:
l2=[x for x in range(31) if x%2==0]
print(l2)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [143]:
l=[4323,4000,2000,1500]
l1=[x*0.01 for x in l if x>2000]
print(l1)

[43.230000000000004, 40.0]

In [149]:
l=[4323,4000,2000,1500]
l1=[]
for i in l:
    if i>2000:
        l1.append(i*0.01)
print(l1)

[43.230000000000004, 40.0]

In [144]:
d={x:x**2 for x in range(10,21)}
print(d)

{10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

In [145]:
d={}
for i in range(10,21):
    d[i]=i**2
print(d)

{10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

In [135]:
course1={'karam':70,'sara':50,'rana':84,'sam':45}
course2={'karam':90,'sara':80,'rana':60,'sam':30}
course3={'karam':72,'sara':61,'rana':82,'sam':90}
l=[course1,course2,course3]
while True:
    avg=0
    ty=input('are you student or teacher, please enter s or t: ')
    if ty=='s':
        sname=input('enter your name: ')
        for d in l:
            if sname in d.keys():
                print(d[sname])
                avg+=d[sname]
            else:
                print('don''t match')
        if avg:
            print("your average rate is ", avg/len(l))
        s=input('do you want to continue as for yes enter y: ')
        if s!='y':
            break
    elif ty=='t':
        c=input('select course, 1 or 2 or 3: \n')
        if c=='1':
            sname=input('enter student name: \n')
            course1[sname]=int(input('enter the mark: \n'))
        elif c=='2':
            sname=input('enter student name: \n')
            course2[sname]=int(input('enter the mark: \n'))
        elif c=='3':
            sname=input('enter student name: \n')
            course3[sname]=int(input('enter the mark: \n'))
        
        else:
            print('dont match, try again \n')
        s=input('do you want to continue as for yes enter y: ')
        if s!='y':
            break
    else:
        print('error input, try again\n')

are you student or teacher, please enter s or t: s
enter your name: ali
dont match
dont match
dont match
do you want to continue as for yes enter y: y
are you student or teacher, please enter s or t: t
select course, 1 or 2 or 3:
2
enter student name:
ali
enter the mark:
100
do you want to continue as for yes enter y: y
are you student or teacher, please enter s or t: s
enter your name: ali
dont match
100
dont match
your average rate is  33.333333333333336
do you want to continue as for yes enter y: y
are you student or teacher, please enter s or t: karam
error input, try again

are you student or teacher, please enter s or t: s
enter your name: sara
50
80
61
your average rate is  63.666666666666664
do you want to continue as for yes enter y: n

In [127]:
course1={'karam':70,'sara':50,'rana':84,'sam':45}
course2={'karam':90,'sara':80,'rana':60,'sam':30}
course3={'karam':72,'sara':61,'rana':82,'sam':90}
l=[course1,course2,course3]
l

[{'karam': 70, 'sara': 50, 'rana': 84, 'sam': 45},
 {'karam': 90, 'sara': 80, 'rana': 60, 'sam': 30},
 {'karam': 72, 'sara': 61, 'rana': 82, 'sam': 90}]

In [160]:
infile=open('E:\\files\\file.txt','r')
s=infile.read()
print(s)
print(type(s))
l=s.splitlines()
print(l)
print(type(l))
infile.close()

first line
second line
third line
<class 'str'>
['first line', 'second line', 'third line']
<class 'list'>

In [164]:
filename='E:\\files\\file.txt'
infile=open(filename,'r')
print(infile.readline())
print(infile.readline())
infile.seek(0)
print(infile.readline())
infile.close()

first line

second line

first line

In [165]:
filename='E:\\files\\file.txt'
infile=open(filename,'r')
listvar=[line for line in infile]
print(listvar)
infile.close()

['first line\n', 'second line\n', 'third line']

In [166]:
filename='E:\\files\\file.txt'
infile=open(filename,'r')
listvar=infile.readlines()
print(listvar)
infile.close()

['first line\n', 'second line\n', 'third line']

In [169]:
filename='E:\\files\\outfile.txt'
outfile=open(filename,'w')
l=['first line\n', 'second line\n', 'third line']
outfile.writelines(l)
outfile.close()

In [171]:
import pickle
d={'karam':93,'rana':75,"sara":56}
filename = 'E:\\files\p.pkl'
outfile = open(filename, 'wb')
pickle.dump(d, outfile)
outfile.close()

In [173]:
import pickle
filename = 'E:\\files\p.pkl'
infile = open(filename, 'rb')
d=pickle.load(infile)
print(d)
infile.close()

{'karam': 93, 'rana': 75, 'sara': 56}